.downArrow {
    animation: bounce 2s cubic-bezier(.25, .1, .25, 1) infinite;
}


@keyframes bounce {

    0%,
    9%,
    18% {
        transform: translateY(0);
    }

    2% {
        transform: translateY(-10px);
    }

    3% {
        transform: translateY(-3px);
    }

    5% {
        transform: translateY(-8px);
    }

    7% {
        transform: translateY(-2px);
    }

    11% {
        transform: translateY(-10px);
    }

    12% {
        transform: translateY(-3px);
    }

    14% {
        transform: translateY(-8px);
    }

    16% {
        transform: translateY(-2px);
    }
}